.navbar{
    background-image: linear-gradient(to right, #E5256E, #ba327a, #A7377F); 
}

.navbar a{
    color: white;
    font-family:  "Andale Mono";
    font-weight: bold;
}

.navbar a:hover{
    color: #e882a9;
}
