.navbar {
    background-image: linear-gradient(to right, #e5256e, #ba327a, #a7377f);
}

.navbar a {
    color: white;
    font-family: "Andale Mono";
    font-weight: bold;
}

.navbar a:hover {
    color: #e882a9;
}
