#title{
    text-align: center;
    /*margin: 25px;*/
    padding: 35px;
}

h1 {
    text-align: center;
    display: inline-block;
}

.padding{
    margin-top: 5px;
}

.padding-2{
    margin-top: 10px;
}

#my-form{
    margin-bottom: 24px;
}

.my-btn{
    background-color:#b93179 !important;
    border-color: #b93179 !important;
    color: white;
}

.my-btn:hover{
    background-color:purple !important;
    border-color: purple !important;
    color: white;
}

.my-outline-btn{
    border-color:#b93179 !important;
    color: #b93179 !important;
}

.my-outline-btn:hover{
    background-color:#b93179 !important;
    color: white ;
}

body{
    position: relative;
    padding-bottom: 90px;
    min-height: 100vh;
    overflow-x: hidden
}

footer{
    text-align: center;
    background-color:#b93179;
    width: 100%;
    height: 80px;
    bottom: 0px;
    position: absolute;
    color: white;
    font-size: 15px;
}