.container{
    padding-top: 15%;
}

.container-form{
    padding-top:5%;
}

@media screen and (max-width: 991px) {
    #d-login{
        padding-top: 80px;
        margin-bottom: 2%
    }

    #img-logo{
        width: 40%;
    }

    .form{
        position: relative;
        top: 10px;
    }
}

.form{
    text-align: center;
}

#d-subtitle{
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
}

#d-login{
    position: relative;
    margin-top: -110px;
    text-align:center;
}

body{    
    position: relative;
    padding-bottom: 90px;
    min-height: 100vh;
    overflow-x: hidden
}

.my-btn{
    background-color:#b93179 !important;
    border-color: #b93179 !important;
    color: white;
}

.my-btn:hover{
    background-color:purple !important;
    border-color: purple !important;
    color: white;
}

.my-outline-btn{
    border-color:#b93179 !important;
    color: #b93179 !important;
}

.my-outline-btn:hover{
    background-color:#b93179 !important;
    color: white !important;
}

.padding{
    margin-top: 5px;
}

.padding-2{
    margin-top: 10px;
}

footer{
    text-align: center;
    background-color:#b93179;
    width: 100%;
    height: 80px;
    bottom: 0;
    position: absolute;
    color: white;
    font-size: 15px;
}

/*========== LAYOUT ==========*/
.l-main {
    overflow: hidden;
  }
  
  .bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
  }
  
  .bd-grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
  }